.home{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}
@media only screen and (max-width: 1439px)
{
    .home{
        width: 1280px;
    }
} 
.home-header{
    background-color: rgb(245, 245, 250);
    padding-top: 16px;
    padding-bottom: 16px;
}
.home-header .home-header-full{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.home-header .home-header-full-item{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(128, 128, 137);
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
}
.icon{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    color: rgb(128, 128, 137);
    background-position: 0px 0px;
}
.icon-next img{
    vertical-align: middle;
    width: 80%;
}

/*  */
.home-main{
    display: flex;
}
.home-main-left{
    flex: 1 1 0%;
    padding-right: 24px;
    overflow: hidden;
}
.home-main-left-content{
    position: relative;
    opacity: 1;
}
.home-main-left-content .content-full{
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px 16px;
}
.content-option{
    display: flex;
    padding: 12px 0px;
    border-bottom: 1px solid rgb(235, 235, 240);
}
.option-full{
    display: flex;
    overflow: hidden;
    flex: 1 1 0%;
    position: relative;
}
.option-full-1{
    display: flex;
    transition: all 0.3s ease 0s;
}
.option-full-1 > * {
    flex-shrink: 0;
}
.gach-doc{
    width: 1px;
    height: 34px;
    background-color: rgb(235, 235, 240);
}
.option-name{
    color: rgb(128, 128, 137);
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px
}
.option-name--{
    display: flex;
}
button{
    appearance: button;
    text-transform: none;
    overflow: visible;
}
.btn-option {
    display: block;
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    background: none;
    color: rgb(39, 39, 42);
    cursor: pointer;
}
.btn-box {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    border-radius: 16px;
    border: 1px solid rgb(221, 221, 227);
    background-color: white;
}
.option-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.btn-down {
    width: 34px;
    height: 34px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgb(221, 221, 227);
    margin-left: 8px;
    position: relative;
}
.option-all{
    width: 1px;
    height: 34px;
    background-color: rgb(235, 235, 240);
}
.btn-filter{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: rgb(39, 39, 42);
    padding: 6px 12px;
    align-self: flex-end;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 4px;
    gap: 8px;
}
.option-all-img{
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.option-full-2{
    width: 56px;
    height: 34px;
    padding: 0px 8px 0px 16px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50.18%);
}
.option-full-3{
    width: 56px;
    height: 34px;
    padding: 0px 8px 0px 16px;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(255, 255, 255) 50.18%, rgba(255, 255, 255, 0) 100%);

}

/*  */
.content-now{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px;
}
.content-now-full{
    display: flex;
    overflow: hidden;
    flex: 1 1 0%;
    position: relative;
}
.content-now-full-full{
    display: flex;
    transition: all 0.3s ease 0s;
}
.content-one{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}
.content-now .gach-doc {
    flex-shrink: 0;
}
.content-check{
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}
.content-check .box >img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;

}
.icon-check-on{
    display: none;
}
.icon-check-off{
    display: block;
}
.icon-check-hover{
    display: none;
}
.content-check-img{
    display: block;
    object-fit: contain;
    height: 20px;
    width: auto;
    margin-right: 8px;
}
.content-check-text{
    font-size: 14px;
    line-height: 21px;
    color: rgb(39, 39, 42);
}
.content-check-text span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.content-star{
    display: flex;
}
.content-star i{
    display: block;
    width: 12px;
    height: 12px;
    color: #ffc400;
    z-index: 999;
}
.content-star i:last-child{
    color: #dddde3;
}
.sap-xep{
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
    margin-right: 8px;
}
.popular{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 20px;
    padding: 6px 6px 6px 16px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(39, 39, 42);
    cursor: pointer;
}
.popular-img{
    display: block;
    width: 20px;
    height: 20px;
}

/* sp chi tiét */
.product-list-tarot{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
}
@media only screen and (max-width: 1439px)
{
    .fSXJZx {
    grid-template-columns: repeat(5, 1fr);
}
}
.product-tarot-a{
    text-decoration: none;
    display: flex;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
.product-tarot-a:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(187, 179, 179, 0.19);
}
.product-list-tarot>div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(187, 179, 179, 0.19);
}

.product-tarot-a > *{
    width: 100%;
}
.product-tarot-span{
    display: flex;
    color: rgb(36, 36, 36);
    text-decoration: none;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}
.product-tarot-span .thumbnail {
    flex-shrink: 0;
    text-align: center;
    position: relative;
}
.product-tarot-span .thumbnail .image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.product-tarot-span .thumbnail .image-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-tarot-span .info {
    padding: 8px 0px 12px;
    margin: 0px 12px;
    border-bottom: 1px solid rgb(235, 235, 240);
    min-height: 122px;
}
.info-1{
    display: flex;
    height: 20px;
    gap: 4px;
}
.info-1-top{
    position: absolute;
    z-index: 2;
}
.info-1 p.text{
    display: inline-block;
    height: 20px;
    margin: 0px;
    padding: 2px 4px;
    background: rgb(245, 245, 250);
    border-radius: 1000px;
    color: rgb(100, 100, 109);
    font-size: 10px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    z-index: 1;
}

.info-2{
    height: 72px;
    color: rgb(36, 36, 36);
}
.info-2 .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 4px;
    min-height: 48px;
}
.info-2 .name > h3{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(39, 39, 42);
    margin: 0px;
    word-break: break-word;
}
.info-2-star{
    display: flex;
}
.info-2-star .star{
    font-size: 12px;
    display: inline-block;
    -webkit-box-align: center;
    white-space: nowrap;
}
.star i{
    width: 12px;
    height: 12px;
    color: #ffc400;
    z-index: 999;
}
.info-2-star .dv-ed{
    position: relative;
    margin-left: 4px;
    padding-left: 5px;
    color: rgb(128, 128, 137);
    font-weight: 400;
    font-size: 10px;
}
.product-tarot-span .price-discount {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(39, 39, 42);
    border: none;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.price-discount__discount {
    display: inline-block;
    height: 18px;
    margin-left: 4px;
    padding: 0px 4px;
    background: rgb(245, 245, 250);
    border-radius: 1000px;
    color: rgb(39, 39, 42);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
}
sup {
    top: -0.5em;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.info-4 {
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    min-height: 16px;
}
.delivery{
    display: flex;
    padding: 8px 12px;
    gap: 4px;
}
.delivery span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(128, 128, 137);
}
/* phân trang */
.pagination{
    text-align: center;
}
.pagination .pagination-block {
    display: flex;
    margin: 24px 0px;
    -webkit-box-pack: center;
    justify-content: center;
}
.pagination .arrow.disabled {
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.pagination .arrow {
    display: flex;
    width: 40px;
    height: 36px;
    border: 1px solid rgb(10, 104, 255);
    border-radius: 4px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.pagination ul {
    display: flex;
    margin: 0px 8px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 8px;
    -webkit-box-pack: center;
    justify-content: center;
}
.pagination li{
    list-style-type: none;
}
.pagination li:hover{
    background-color: rgb(143, 143, 153);
    border-radius: 8px;
}
.pagination li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: rgb(39, 39, 42);
    text-decoration: none;
    border-radius: 4px;
    width: 40px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.pagination li a.current{
    font-weight: 500;
    background: rgb(10, 104, 255);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.pagination li a.hidden-page {
    cursor: initial;
}
.pagination li a img {
    width: 20px;
    height: 20px;
}
/*  */
.home-main-right{
    width: 230px;
    flex-shrink: 0;
    position: sticky;
    top: 24px;
    max-height: 100vh;
}
.home-main-right img{
    margin-left: 5%;
    width: 95%;
}
/*  */
.home-intro-add{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
}
.intro-add-a{
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    display: flex;
    overflow: hidden;
    padding-right: 16px;
    position: relative;
}
.mini{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgb(235, 235, 240);
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgb(39, 39, 42);
}
.intro-add-img{
    display: block;
    object-fit: contain;
    width: 204px;
    height: 204px;
    flex-shrink: 0;
    padding-left: 22px;
    padding-right: 22px;
}
.intro-add-info{
    margin-left: 17px;
}
.intro-add-info .store{
    display: flex;
    margin-top: 34px;
    margin-bottom: 8px;
    -webkit-box-align: center;
    align-items: center;
}
.intro-add-info .store .store-img{
    width: 31px;
    height: 31px;
    display: block;
    flex-shrink: 0;
    object-fit: contain;
}
.intro-add-info .store .store-text{
    font-size: 14px;
    color: rgb(39, 39, 42);
    line-height: 21px;
    margin-left: 8px;
}
.intro-add-info .text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(39, 39, 42);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.intro-add-info .star{
    font-size: 16px;
    line-height: 24px;
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
}
.intro-add-info .star .gach-doc{
    width: 1px;
    height: 14px;
    background-color: rgb(235, 235, 240);
    flex-shrink: 0;
    margin-left: 4px;
    margin-right: 6px;
}
.intro-add-info .total{
    margin-top: 11px;
    display: flex;
}
.intro-add-info .total .total-total{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.intro-add-info .total .total-real{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: rgb(39, 39, 42);
}
.intro-add-info .total .total-now{
    padding: 5.5px 12px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(0, 96, 255);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-left: auto;
}